.container {
    padding-left: 15%;
    padding-top: 15%;
    padding-right: 6%;
}


.container h2 {
    font-size: larger;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 8%;
}

.stackContainer {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
}

