.container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 100%;
    background-color: #ffca05;
}

.title {
    padding: 3% 0;   
    margin-left: 8%;
}

.title p {
    margin: 1% 0;
    font-weight: bold;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.img {
    width: 70%;
}

.tg {
    width: 90%
}